@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.App .layout {
  min-height: 100vh;
}
.App .header {
  text-align: left;
  background-color: #fff100;
  color: #fff;
}
.App .header .logo {
  height: 50px;
  margin-right: 10px;
}
.App .header .projecttitle {
  margin: 0;
  color: #ffb500;
  line-height: 1.2;

  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 1.85rem;
}
.App .header .projecttitle small {
  font-size: 50%;
}
.App .sidebar {
  color: #fff;
  padding: 10px;
}
.App .content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.App .content .card {
  min-width: 300px;
  max-width: 600px;
  margin: 30px;
}
.App .footer {
  background-color: #fff;
}
.App .footer p {
  color: #909090;
  margin: 0;
}

.ant-btn-primary {
  color: #333 !important;
}
