.App {
  text-align: center;
}

.App .layout {
  height: 100vh;
}
.App .header {
  color: #fff;
}
.App .header .logo {
  height: 55px;
}
.App .sidebar {
  padding: 10px;
}
.App .sidebar label {
  color: #fff;
}
.App .content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .footer {
  background-color: #fff;
}
.App .footer p {
  color: #909090;
  margin: 0;
}
